#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.dashboard {
  display: flex;
  min-height: 100vh;
}

.side-panel {
  width: 220px;
  background-color: #cce7ff;
  padding: 1rem;
  text-align: left;
}

.dashboard-content {
  flex: 1;
  padding: 1rem;
  text-align: left;
}

.bg-grid-dots {
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

